{% extends "base.html" %}
{% from "./_form_helper.html" import render_field %}
{% block body %}
    <div class="pure-g-r main content">
        <div class="pure-u-1">
            <h1>
                {{ interaction.client.name }}' information
            </h1>
        </div>
        <hr>
        <div class="pure-u-2-3">
            <form method="POST" id="client-form" action="{{ url_for('interaction.edit', interaction_pk=interaction.pk) }}"
                  class="pure-form pure-form-aligned center" xmlns="http://www.w3.org/1999/html">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                    <div class="warning">Sorry, it seems your request is invalid. Please refresh this page and
                        try again.
                    </div>
                {% endif %}
                {{ render_field(form.rating) }}
                {{ render_field(form.interaction_reminder_notes) }}
                {{ render_field(form.interaction_reminder_time) }}
                <button type="submit" class="button b-orange">Save Edits</button>
            </form>
        </div>
        <div class="pure-u-1-3">
            <h4>
                Upcoming interactions
            </h4>

            <p>
                No upcoming interactions
            </p>
        </div>
    </div>
{% endblock %}