{% extends "base.html" %}
{% from "./_form_helper.html" import render_field %}
{% block body %}
    <div class="pure-g-r main content center">
    <div class="pure-u-1">
        <div class="pure-g-r form-box center">
        <h1>
            <div class="pure-u-1">
                    Create New Company
            </div>
        </h1>
        <form method="POST" action="{{ url_for('company.new') }}" class="pure-form pure-form-aligned center"
              xmlns="http://www.w3.org/1999/html">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                    <div class="warning">Sorry, it seems your request is invalid. Please refresh this page and try again.</div>
                {% endif %}
                    {{ render_field(form.name, placeholder="company name") }}
                    {{ render_field(form.phone_number, placeholder="phone number") }}
                    {{ render_field(form.address, placeholder="address") }}
                    <button type="submit" class="button b-orange">Create Company</button>
            </form>
        </div>
    </div>
    </div>
{% endblock %}