{% extends "base.html" %}
{% block body %}
    <div class="pure-g-r main content">
        <div class="pure-u-1">
            <h1>
                {{ company.name }}'s landing page <a href="{{ url_for('company.edit') }}">&#x270e;</a>
            </h1>
        </div>
        <hr>
        <div class="pure-u-2-3">
            <form method="POST" class="pure-form" action="{{ url_for('client.new') }}" xmlns="http://www.w3.org/1999/html">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                    <div class="warning">Sorry, it seems your request is invalid. Please refresh this page and try again.</div>
                {% endif %}
                <input id="search" name="name" type="text" placeholder="Search your Clients">
                <button type="submit" class="pure-button b-orange b-add"><b>+</b></button>
            </form>
            <div class="spacer"></div>
            <div id="results">

            </div>
        </div>
        <div class="pure-u-1-3 ">
            <h4>
                Upcoming interactions
            </h4>
            <p>
                No upcoming interactions
            </p>
        </div>
    <div class="spacer"></div>
        <div class="pure-u-1">
        <h5>Recent Clients: </h5>
            {% for client in g.recent_clients %}
               <a href="{{ url_for('client.home', client_pk=g.recent_clients[client].pk) }}" class="recent-clients">{{ g.recent_clients[client].name }}</a>
            {% endfor %}
        </div>
    </div>
    <script type="application/javascript">
        var delay = (function () {
            var timer = 0;
            return function (callback, ms) {
                clearTimeout(timer);
                timer = setTimeout(callback, ms);
            };
        })();

        var results = $("#results");

        var buildResults = function(data) {
            var rLink = "<a class='client-result'></a>";
            var rBox = "<div class='results-box'></div>";

            for (var key in data) {
                if (data.hasOwnProperty(key)) {
                    var found = false;
                    var resultContainer = $(rBox);
                    var resultType = key.charAt(0).toUpperCase() + key.slice(1);
                    resultContainer.html("<h2>" + resultType + "</h2>");
                    var resultData = data[key];
                    for (var i = 0; i < resultData.length; i++) {
                        found = true;
                        var resultLink = $(rLink);
                        resultLink.html(resultData[i].name);
                        resultLink.attr('href', '/client/' + resultData[i].pk);
                        resultContainer.append(resultLink);
                    } if (!found) {
                        resultContainer.append("Sorry, there were no " + resultType + "found.");
                    }
                    results.append(resultContainer);
                }
            }
        };

        var search = $("#search");

        var performSearch = function(searchTerm) {
            $.get( "/api/search/" + searchTerm, function( data ) {
                buildResults(data);
            }).fail( function() {
                results.html("Problem with request");
            });
        };
        $(document).ready(function(){
            if (search.val()) {
                performSearch(search.val());
            }
        });
        search.on("keyup", function() {
            var searchTerm = $(this).val();
            if (searchTerm) {
                delay(function() {
                    results.empty();
                    performSearch(searchTerm);
                }, 500)
            } else {
                results.empty();
            }
        });
    </script>
{% endblock %}