{% extends "base.html" %}
{% block body %}
    <div class="pure-g-r main content">
        <div class="pure-u-1">
            <h1>
                {{ company.name }}'s landing page <a href="{{ url_for('company.edit') }}">&#x270e;</a>
            </h1>
        </div>
        <hr>
        <div class="pure-u-2-3">
            <form method="POST" class="pure-form" action="{{ url_for('client.new') }}" xmlns="http://www.w3.org/1999/html">
                {{ form.hidden_tag() }}
                {% if form.csrf_token.errors %}
                    <div class="warning">Sorry, it seems your request is invalid. Please refresh this page and try again.</div>
                {% endif %}
                <input id="search" name="name" type="text" placeholder="Search your Clients">
                <button type="submit" class="pure-button b-orange b-add"><b>+</b></button>
            </form>
            <div class="spacer"></div>
            <div id="results">

            </div>
        </div>
        <div class="pure-u-1-3 ">
            <h4>
                Upcoming interactions
            </h4>
            <p>
                No upcoming interactions
            </p>
        </div>
    <div class="spacer"></div>
        <div class="pure-u-1">
        <h5>Recent Clients: </h5>
            {% for client in g.recent_clients %}
               <a href="{{ url_for('client.home', client_pk=client['pk']) }}" class="recent-clients">{{ client['name'] }}</a>
            {% endfor %}
        </div>
    </div>
{% endblock %}