html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
}

/* below are text-styles  */

small {
    color: gray;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space: pre-wrap;
    padding-left: 1.5em;
    padding-bottom: .5em;
    padding-top: .5em;
    font-family: 'Source Code Pro', sans-serif;
}

code {
}

p {
    font-family: 'Lato', sans-serif;
    padding: .5em;
}

em {
    padding-right: .25em;
}

ul, ol {
    font-family: 'Lato', sans-serif;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: .5em;
}

a {
    text-decoration: none;
}

blockquote {
    margin: 1em 1em;
    padding: .5em 1em;
    border-left: 5px solid #007090;
}

blockquote p {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    padding:.5em;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

h1 a {
    font-size: .75em;
}

h2 a:hover {
    color: #000;
}

h2 a:hover:after {
    color: #000;
}

/* mentioning anchor here for searching purposes */

a {
    font-weight: 400;
    color: #fc7700;
}

a:hover {
    color: #f46700;
}

hr {
    margin: .5em auto;
    border: 0;
    border-bottom: 1px solid #eee;;
}

/* below are element-styles */

input {
    min-width: 50%;
    margin-top: 1em;
}

textarea {
    min-width: 50%;
    margin-top: 1em;
}

/*styles on divs and other stuff similar to that - basic page styling*/

.form-box {
    max-width:400px;
    border: 1px solid;
    border-radius: 10px;
    border-color: #d0d0d0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#576bb2+0,62ace5+100
    background: #576bb2; /* Old browsers */
    background: -moz-linear-gradient(top,  #576bb2 0%, #69aab2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #576bb2), color-stop(100%, #69aab2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #576bb2 0%, #69aab2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #576bb2 0%,#62ace5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #576bb2 0%,#62ace5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #007090 0%, #45a0a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#576bb2', endColorstr='#62ace5',GradientType=0 ); /* IE6-9 */
    color:#fff;
}

.form-box h1 {
    color:#fff;
}

.label {
    line-height: 2em;
    padding-top:2em;
}

.underline {
    font-weight: bold;
}

.gray-box-button {
    display: inline-block;
    color: gray;
    padding: .25em;
    border: 1px solid;
    border-radius: 10px;
    margin: .5em;
}

.post_tag_holder {
    text-align: center;
}

div.logo{
    padding-left:.25em;
    padding-top:.5em;
    margin-right:-.5em;
    padding-right:-.25em;
    margin-left:-.5em;
}

a.logo {
    background-image: url('/static/img/logo.png');
    background-size: 10em;
    background-repeat: no-repeat;
    width: 10em;
    height: 2em;
    display: block;
}

div.action-bar {
    color: #fff;
    padding-bottom:.5em;
    padding-top:.5em;
}

.action-bar a {
    color:#fff;
}

.orange-box-button {
    color: #fff;
    padding-top:.3em;
    padding-bottom: .4em;
    padding-left: .7em;
    padding-right: .7em;
    margin-left:.5em;
    margin-right:.5em;
    display: inline-block;
    background-color:  #fc7700;
    border-radius: .5em;
}

.orange-box-button:hover {
    color: #fff;
    background-color: #f42a00;
}

span.display_tag {
    display: inline-block;
    color: #000;
    font-size: .75em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

span.tags a {
    display: inline-block;
    color: #000;
    font-size: .75em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

span.tags a:hover {
    background-color: #62ace5;
}

/* button stylings */

.button {
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: 1em auto;

}

.b-search {
    padding: .25em;
    display: inline;
    font-size: .8em;
    line-height: 1.8em;
    border:none;
    border-radius: 6px;
    color:#fff;
    cursor: hand;
}

.b-add {
    padding: .5em;
    display: inline;
    font-size: .8em;
    line-height: 1.3em;
    border:none;
    color:#fff;
    border-radius: 6px;
    cursor: hand;
}

.button-small {
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: .5em auto;

}

.b-gray {
    background-color: #d0d2d3;
}

.b-gray:hover {
    border: none;
    background-color: #62ace5;
    box-shadow: 0 0 1px #777;
}

.b-orange {
    background-color: #fc7700;
}

.b-orange:hover {
    border: none;
    background-color: #f42a00;
    box-shadow: 0 0 1px #777;
}

.submit {
    display: block;
    background-color: #FF8400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: 1em auto;
}

.submit:hover {
    border: none;
    background: #f42a00;
    box-shadow: 0 0 1px #777;
}

/* additional div styling */

.center {
    margin: auto;
    text-align: center;
}

.right {
    text-align: right;
}

.red {
    background-color: #f42a00;
}

.blue {
    background-color: #007090;
}

.light-blue {
    background-color: #62ace5;
}

.dark-blue {
    background-color: #004A66;
}

.orange {
    background-color: #fc7700;
}

.gray {
    background-color: #d0d2d3;
}

.light-gray {
    background-color: #e7e7e7;
}

.white {
    background-color: #fff;
}

.main {
    margin: 0 auto;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.content {
    max-width:1300px;
    margin:0 auto;
}

.position-right {
    float: right;
}

.footer {
    box-shadow: 0px 1500px 0px 1500px #007090;
}

.splash {
    padding-top:2em;
    font-size: 1.4em;
    text-align: center;
    color:#fff;
    width:100%;
    min-height:350px;
    background-image: url('/static/img/splash.jpg');
    background-repeat:no-repeat;
    background-position:center;
      text-shadow:
   -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.splash a {
    margin-top: 1em;
    text-shadow: none;
}

.icon {
    margin: .25em auto;
    text-align: center;
    line-height: 150px;
    display:block;
    width: 150px;
	height: 150px;
    background-color: #007090;
    border-radius: 50%;
    color:#fff;
    font-size:5em;
}

.white-text {
    color: #fff;
}