html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-decoration: none;
    -webkit-text-stroke: .25px;
}

/* below are text-styles  */

small {
    color: gray;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    white-space: pre-wrap;
    padding-left: 1.5em;
    padding-bottom: .5em;
    padding-top: .5em;
    -webkit-text-stroke: 0px;
    font-family: 'Source Code Pro', sans-serif;
}

code {
}

p {
    font-family: 'Lato', sans-serif;
    padding-bottom: .5em;
    padding-top: .5em;
    -webkit-text-stroke: 0px;
}

em {
    padding-right: .25em;
}

ul, ol {
    font-family: 'Lato', sans-serif;
    padding-left: 2em;
    padding-bottom: 1em;
    padding-top: .5em;
    -webkit-text-stroke: 0px;
}

a {
    text-decoration: none;

}

blockquote {
    margin: 1em 1em;
    padding: .5em 1em;
    border-left: 5px solid #007090;
}

blockquote p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: bold;
}

h1 {
    font-size: 1.5em;
    color: #000;
}

h2 {
    font-size: 1.25em;
}

h3 {
    font-size: 1.17em;
}

h5 {
    font-size: .83em;
}

h6 {
    font-size: .75em;
}

h1 a {
    font-size: .75em;
}

h2 a:hover {
    color: #000;
}

h2 a:hover:after {
    color: #000;
}

/* mentioning anchor here for searching purposes */

a {
    color: #ff9301;
}

a:hover {
    color: #f46700;
}

hr {
    margin: .5em auto;
    border: 0;
    border-bottom: 1px solid #eee;;
}

/* below are element-styles */

input {
    min-width: 300px;
    margin-top:1em;
}

textarea {
    margin-top:1em;
    width: 300px;
}

/*styles on divs and other stuff similar to that - basic page styling*/

.form-box {
    max-width:600px;
}

.label {
    line-height: 2em;
    padding-top:2em;
}

.underline {
    font-weight: bold;
}

.gray-box-button {
    display: inline-block;
    color: gray;
    padding: .25em;
    border: 1px solid;
    border-radius: 10px;
    margin: .5em;
}

.post_tag_holder {
    text-align: center;
}

div.logo{
    padding-left:.25em;
    padding-top:.5em;
    margin-right:-.5em;
    padding-right:-.25em;
    margin-left:-.5em;
}

a.logo {
    background-image: url('/static/img/logo.png');
    background-size: 10em;
    background-repeat: no-repeat;
    width: 10em;
    height: 2em;
    display: block;
}

div.action-bar {
    padding-bottom:.5em;
    padding-top:.5em;
}

.orange-box-button {
    color: #fff;
    padding-top:.2em;
    padding-bottom: .3em;
    padding-left: .5em;
    padding-right: .5em;
    margin-left:.5em;
    display: inline-block;
    background-color:  #ff9301;
    border-radius: .5em;
}

.orange-box-button:hover {
    color: #fff;
    background-color: #f42a00;
}

span.display_tag {
    display: inline-block;
    color: #000;
    font-size: .75em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

span.tags a {
    display: inline-block;
    color: #000;
    font-size: .75em;
    background-color: #e7e7e7;
    border-radius: 10px;
    margin: .5em;
    padding: .5em;
}

span.tags a:hover {
    background-color: #79CEED;
}

/* button stylings */

.button {
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: 1em auto;

}

.b-search {
    padding: .25em;
    display: inline;
    font-size: .8em;
    line-height: 1.8em;
    border:none;
    border-radius: 6px;
    color:#fff;
    cursor: hand;
}

.b-add {
    padding: .5em;
    display: inline;
    font-size: .8em;
    line-height: 1.3em;
    border:none;
    color:#fff;
    border-radius: 6px;
    cursor: hand;
}

.button-small {
    display: inline-block;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: .5em auto;

}

.b-gray {
    background-color: #d0d2d3;
}

.b-gray:hover {
    border: none;
    background-color: #79CEED;
    box-shadow: 0px 0px 1px #777;
}

.b-orange {
    background-color: #FF8400;
}

.b-orange:hover {
    border: none;
    background-color: #f42a00;
    box-shadow: 0px 0px 1px #777;
}

.submit {
    display: block;
    background-color: #FF8400;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 6px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    text-decoration: none;
    padding: .5em;
    cursor: hand;
    border: none;
    margin: 1em auto;
}

.submit:hover {
    border: none;
    background: #f42a00;
    box-shadow: 0px 0px 1px #777;
}

/* additional div styling */

.center {
    margin: auto;
    text-align: center;
}

.right {
    text-align: right;
}

.red {
    background-color: #f42a00;
}

.blue {
    background-color: #007090;
}

.light-blue {
    background-color: #79CEED;
}

.dark-blue {
    background-color: #004A66;
}

.orange {
    background-color: #FF8400;
}

.gray {
    background-color: #d0d2d3;
}

.light-gray {
    background-color: #e7e7e7;
}

.white {
    background-color: #fff;
}

.main {
    margin: 0 auto;
    padding-left: 2em;
    padding-top: 1em;
    padding-right: 2em;
}

.content {
    max-width:1300px;
    margin:0 auto;
}

.position-right {
    float: right;
}

.footer {
    text-align: center;
    padding: 3em;
}

