<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pure-grid.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='forms.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <title>

        </title>
    </head>
    <body>
    <div class="pure-g-r blue center">
            <div class="pure-u-1-4 logo center">
                <a href="{{ url_for('index') }}" class="logo center"></a>
            </div>
            <div class="pure-u-1-4">
            </div>
            <div class="pure-u-1-4">
            </div>
            <div class="pure-u-1-4 action-bar">
                {% if logged_in %}
                    <a href="{{ url_for('users.admin') }}">Admin</a>
                    <a href="{{ url_for('company.index') }}">Home</a>
                    <a class="gray-box-button" href="{{ url_for('users.logout') }}">Logout</a>
                {% else %}
                    <a href="{{ url_for('users.login') }}">Login</a>
                    <a href="{{ url_for('users.register') }}" class="orange-box-button">Register</a>
                {% endif %}
            </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1 header_message">
            {{ header_message }}
        </div>
    </div>
    <div class="pure-g-r main">
    <div class="pure-u-1">
         <div class="content">
            {% block body %}{% endblock %}
        </div>
    </div>
    </div>
    <div class="footer pure-g-r">
        <div class="pure-u-1">
        </div>
    </div>
    </body>
</html>