<html>
    <head>
        <meta charset="UTF-8">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pure-grid.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='forms.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='theme.css') }}">
        <script src="{{ url_for('static', filename='js/rainbow.js') }}"></script>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        <title>
            {{ user_data.blog_title }} :: {{ page_title }}
        </title>
    </head>

    <body>
    <div class="pure-g-r">
        <div class="pure-u-1-5 header-color-box red"></div>
        <div class="pure-u-1-5 header-color-box blue"></div>
        <div class="pure-u-1-5 header-color-box light-blue"></div>
        <div class="pure-u-1-5 header-color-box dark-blue"></div>
        <div class="pure-u-1-5 header-color-box orange"></div>
    </div>
    <div class="pure-g-r ">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-4"></div>
        <div class="pure-u-1-4 login-bar center">
            {% if logged_in %}
                <a class="logout" href="{{ url_for('blog.logout') }}">Logout</a>
                <a class="logout" href="{{ url_for('blog.index') }}">Admin</a>
                <a class="logout" href="{{ url_for('blog.preview') }}">Preview</a>
            {% endif %}
        </div>
    </div>
    <div class="pure-g-r">
        <div class="pure-u-1 header_message">
            {{ header_message }}
        </div>
    </div>
    <div class="pure-g-r header">
        <div class="pure-u-1-3">
            <div class="photo">
                <a href="/"></a>
            </div>
        </div>
        <div class="pure-u-2-3">
            <h1>
                {{ user_data.blog_title }}
            </h1>
            <small>
                {{ user_data.blog_subtitle }}
            </small>
            <div class="pure-u-1"></div>
            {% if user_data.tags %}
                {% for key in user_data.tags %}
                    <span class="tags"><a href="{{ url_for(tagged_url, tag=key) }}">{{ key }}</a></span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="pure-g-r main">
        <div class="pure-u-1 center">
            {% for message in get_flashed_messages() %}
                <div>
                    <p class="underline">{{ message | safe}}</p>
                    <p></p>
                </div>
            {% endfor %}
        </div>
        {% block body %}{% endblock %}
    </div>
    <div class="footer pure-g-r">
        <div class="pure-u-1">
            {{ user_data.footer_text | safe }}
        </div>
    </div>
    </body>
    <script src="/static/js/js.js"></script>
</html>