<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='pure-grid.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='forms.css') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

        <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
        <link rel="shortcut icon" href="{{ url_for('static', filename='imgs/favicon.ico') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
        <link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css"
          rel="stylesheet">
        <script src="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

        <title>
            {{ title }}
        </title>
    </head>
    <body bgcolor="#fff">
    <div id="header" class="pure-g-r blue center">
            <div class="pure-u-1-3 logo center">
                {% if g.company %}
                    <a href="{{ url_for('company.home') }}" class="logo center"></a>
                {% else %}
                    <a href="{{ url_for('index') }}" class="logo center"></a>
                {% endif %}
            </div>
            <div class="pure-u-1-3">
            </div>
            <div class="pure-u-1-3 action-bar">
                {% if current_user.is_authenticated() %}
                    <a href="{{ url_for('users.logout') }}" >Logout</a>
                {% else %}
                    <a href="{{ url_for('users.login') }}">Login</a>
                    <a href="{{ url_for('users.register') }}" class="orange-box-button">Register</a>
                {% endif %}
                {% if g.company %}
                    <a href="{{ url_for('company.home') }}" class="white-box-button">Company Page</a>
                {% else %}
                {% endif %}
            </div>
    </div>
    <div class="pure-g-r" style="position:relative;">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                  <div class="pure-u-1 header_message">
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                  </div>
              {% endif %}
            {% endwith %}
    </div>
    {% block body %}{% endblock %}
    <div class="footer pure-g-r">
        <div class="pure-u-1">
        </div>
    </div>
    </body>
    <script type="text/javascript">
        $(function () {
            var tomorrow = new Date(+new Date() + 24 * 60 * 60 * 1005);
            var datePicker = $('#datetimepicker');
            datePicker.datetimepicker({
                inline: true,
                sideBySide: true,
                minDate: tomorrow
            });
        });
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
</html>